{% extends 'blog/base.html' %}
{% load static %}
{% block title %}
Blog Page
{% endblock %}
{% block blog_active %}
active
{% endblock %}
{% block content %}
<!-- Blog Start -->
<div class="container py-5">
    <div class="row g-5">
        <!-- Blog list Start -->
        <div class="col-lg-8">
            {% for post in posts %}
            <div class="blog-item mb-5">
                <div class="row g-0 bg-light overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                        <img class="img-fluid h-100" src="{{ post.image.url }}" style="object-fit: cover;">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column justify-content-center">
                        <div class="p-4">
                            <div class="d-flex mb-3">
                                <small class="me-3"><i class="bi bi-bookmarks me-2"></i>{{ post.author }}</small>
                                <small><i class="bi bi-calendar-date me-2"></i>{{ post.date_published }}</small>
                            </div>
                            <h5 class="text-uppercase mb-3">{{ post.text }}</h5>
                            <a class="text-primary text-uppercase" href="{{ post.slug }}">Read More<i
                                    class="bi bi-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Blog list End -->

        <!-- Sidebar Start -->
        <div class="col-lg-4">
            <!-- Search Form Start -->
            <div class="mb-5">
                <div class="input-group">
                    <input type="text" class="form-control p-3" placeholder="Keyword">
                    <button class="btn btn-primary px-4"><i class="bi bi-search"></i></button>
                </div>
            </div>
            <!-- Search Form End -->

            <!-- Recent Post Start -->
            <div class="mb-5">
                <h3 class="text-uppercase border-start border-5 border-primary ps-3 mb-4">Recent Post</h3>
                <div class="d-flex overflow-hidden mb-3">
                    <img class="img-fluid" src="{% static 'img/blog-1.jpg' %}"
                         style="width: 100px; height: 100px; object-fit: cover;"
                         alt="">
                    <a href="" class="h5 d-flex align-items-center bg-light px-3 mb-0">Lorem ipsum dolor sit amet
                        adipis
                        elit
                    </a>
                </div>
                <div class="d-flex overflow-hidden mb-3">
                    <img class="img-fluid" src="{% static 'img/blog-2.jpg' %}"
                         style="width: 100px; height: 100px; object-fit: cover;"
                         alt="">
                    <a href="" class="h5 d-flex align-items-center bg-light px-3 mb-0">Lorem ipsum dolor sit amet
                        adipis
                        elit
                    </a>
                </div>
                <div class="d-flex overflow-hidden mb-3">
                    <img class="img-fluid" src="{% static 'img/blog-2.jpg' %}"
                         style="width: 100px; height: 100px; object-fit: cover;"
                         alt="">
                    <a href="" class="h5 d-flex align-items-center bg-light px-3 mb-0">Lorem ipsum dolor sit amet
                        adipis
                        elit
                    </a>
                </div>
                <div class="d-flex overflow-hidden mb-3">
                    <img class="img-fluid" src="{% static 'img/blog-1.jpg' %}"
                         style="width: 100px; height: 100px; object-fit: cover;"
                         alt="">
                    <a href="" class="h5 d-flex align-items-center bg-light px-3 mb-0">Lorem ipsum dolor sit amet
                        adipis
                        elit
                    </a>
                </div>
                <div class="d-flex overflow-hidden mb-3">
                    <img class="img-fluid" src="{% static 'img/blog-2.jpg' %}"
                         style="width: 100px; height: 100px; object-fit: cover;"
                         alt="">
                    <a href="" class="h5 d-flex align-items-center bg-light px-3 mb-0">Lorem ipsum dolor sit amet
                        adipis
                        elit
                    </a>
                </div>
            </div>
            <!-- Recent Post End -->

            <!-- Image Start -->
            <div class="mb-5">
                <img src="{% static 'img/blog-1.jpg' %}" alt="" class="img-fluid rounded">
            </div>
            <!-- Image End -->

        </div>
        <!-- Sidebar End -->
    </div>
</div>
<!-- Blog End -->
{% endblock %}